@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700&family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.font-karla {
    font-family: 'Karla', sans-serif;
}

.font-nunito{
    font-family: 'Nunito', sans-serif;
}

.card-shadow {
    box-shadow: 0 10px 20px 15px rgba(0,0,0,0.05);
  }
  
.card-number-color {
    color: #E5E6EC;
}
.color-dark-brown{
    color: #6A6A6A;
}

.color-card-text {
    color: #78849E;
}

.card-svg path {
    transition: all .2s ease-in;
}

.card-svg:hover path {
    fill: #B7076B;
}
.card-svg-stroke path {
    transition: all .2s ease-in;
}

.card-svg-stroke:hover path {
    stroke: #B7076B;
}

.card-svg-rect rect {
    transition: all .2s ease-in;
}

.card-svg-rect:hover rect {
    fill: #B7076B;
}

.card-svg-walk svg g  g,
.card-svg-walk svg  {
    transition: all .2s ease-in;
}

.card-svg-walk:hover svg g  g, .card-svg-walk:hover svg  path {
    fill: #B7076B;
    stroke: #B7076B
}

.card-btn{
    background: #9F3646;
    padding: 0.4rem 1.25rem;
    outline: none !important;
}

.carousel{
    overflow: hidden;
    width: 40vw;
}

.card-container {
    width: 210vw;
    transition: all 1s;
}

.fabricForm {
    width: 38vw;
    height: 23rem;
    overflow: hidden;
    -ms-overflow-style: none; 
     scrollbar-width: none;  
}

.fabric_card {
    height: 23rem;
    position: relative;
    z-index: 1000;
}

.card::-webkit-scrollbar {
    display: none;
  }
  


input[type="radio"]:checked + label  path {
    fill: #B7076B;
}

input[type="radio"]:checked + label rect {
    fill: #B7076B;
}
input[type="radio"]:checked + .card-svg-stroke  path {
    stroke: #B7076B;
}


input[type="radio"]:checked + label svg  g g ,
input[type="radio"]:checked + label svg  path {
    fill: #B7076B;
    stroke: #B7076B;
}

#fabric-table{
    width: 100%;
}
#fabric-table thead {
    border-bottom: 1px solid #b3b1b1;
}

.border-top {
    border-top: 1px solid #b3b1b1;
}
#fabric-table thead th{
    width: 16% ;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 8px;
}
#fabric-table tr{
   color: #78849E;
   font-size: .8rem;
}

#fabric-table tbody{
    counter-reset: Serial;
    padding-top: 1rem;
    transform: translateY(.5rem);
}
td {
    padding: .4rem 0;
    text-align: center;
}
td:first-child::before {
      counter-increment: Serial;
      content: counter(Serial);
      margin-right: .5rem;
      color: #b3b1b1;
  }

  tr:last-child td:first-child::before {
    content: "";
}

.fsTailorWidget{
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-right-radius: 600px;
    border-bottom-right-radius: 600px;
    background-color: #f3f3f3;
    height: 88px;
}

.fitted_pink_color {
    color: #B7076B
}

.half_max_width {
    max-width: 50%;
}