.MuiInput-underline::before{
    border: none !important;
}

.MuiInputBase-root{
    border: 1px solid rgb(233, 232, 232) !important;
    border-radius: 5px;
    background-color: #F4F6F8;
    overflow: hidden;
    padding: 0 !important;
}

.MuiInputBase-root input{
    text-align: center;
    color: #888585;
    padding: 5px 0 4px !important;
    font-weight: 300;
    font-size: small;
}

.MuiButtonBase-root {
    outline: none !important;
}


.MuiSvgIcon-root {
    fill: rgb(173, 172, 172) !important;
    height: 0.8rem;
}